@{
    ViewData["Title"] = "Mult Operation";
}

<div>
    <h1>Resultado da Multiplicação</h1>
    <p>A multiplicação de @Model.NumberOne x @Model.NumberTwo é igual a @(Model.NumberOne * Model.NumberTwo)</p>
</div>