@{
    ViewData["Title"] = "Sub Operation";
}

<div>
    <h1>Resultado da Subtração</h1>
    <p>A subtração de @Model.NumberOne - @Model.NumberTwo é igual a @(Model.NumberOne - Model.NumberTwo)</p>
</div>