@{
    ViewData["Title"] = "Sum";
}

<div class="text-center">
    <h1>Operação Matemática Somar</h1><br>
    <p>Utilize o formulário abaixo para somar dois números.</p><br><br>

    <form action="SumOperation" method="post">
        <label for="numberOne">Número 1</label>
        <p><input type="number" name="numberOne" id="numberOne" required></p>
        <label for="NumberTwo">Número 2</label>
        <p><input type="number" name="numberTwo" id="numberTwo" required></p>
        <button type="submit">Enviar</button>
    </form>
</div> 